.main{
    background-color: #F1FAFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.root{
    margin: 30px;
    width: 25ch;
    padding: 10px;
}

.logo{
    margin: 0 30px;
}